.CurrenciesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vh;
    place-items: center center;
    margin: 1vh;
}

.gridItem{
    border: 1px solid #F2E8C9;
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 1vh;
    transition: 0.3s linear;
    font-size: 1.2rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 1vh;
    overflow: hidden;
    place-items: center center;
}
.currentBase{
    background-color: #eb1e49;
}
.ItemDetails{
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}
.gridItem.fav{
    background-color: #387CA6;
}
.gridItem.fav.currentBase{
    background-color: #eb1e49;
}
.gridItem:hover{
    background: #eb1e49;
    color: #F2E8C9;
}
.btn.FavIcon{
    border: none;
}
.FavIcon.selected{
    color: #FFE684;
    border: none;
}

.ControlsWrapper{
    margin: 1vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1vh;
}

.clipboard{
    cursor: pointer;
}
.btn:hover{
    background: #387CA6;
    color: #F2E8C9;
}
@media only screen and (max-width: 810px) {
    .CurrenciesGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .CurrenciesGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .CurrenciesGrid{
        grid-template-columns: 1fr;
    }
}