* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.AppContainer{
    background: #4C4642;
    color: #F2E8C9;
    min-height: 100vh;
    min-width: 300px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #F2E8C9; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #4C4642; 
}